
{% extends 'common title.html' %}

{% block pwn %}
    <form action="{% url 'save_student' %}" method="post">
    {% csrf_token %}
     <table align="center" border="0">
         <tr>
             <th style="color: #a0227c;background-color: #6eed72;padding: 5px">
                 <h1>Enter Your Details</h1>
             </th>
         </tr>
         <tr>
             <th style="padding: 5px">
                 <input type="text" placeholder="Name" required name="n1">
             </th>
         </tr>
     <tr>
             <th style="padding: 5px">
                 <input type="tel" placeholder="Contact no" required name="n2">
             </th>
         </tr>
     <tr>
             <th style="padding: 5px">
                 <input type="email" placeholder="Email ID" required name="n3">
             </th>
         </tr>
         <tr>
             <th style="padding: 5px">
                 <input type="password" placeholder="Password" required name="n4">
             </th>
         </tr>
         <tr>
             <th style="padding: 5px">
                 <input type="text" required placeholder="Courses" name="n5">
             </th>
         </tr>
         <tr>
         <th>
             <button type="submit">Save</button>
         </th>
     </tr>

{#         {% if messages %}#}
{#             <tr>#}
{#                <th>#}
{#                    {{ messages}}#}
{##}
{#                </th>#}
{#             </tr>#}
{#         {% endif %}#}

     </table>
    </form>
{% endblock %}