
{% extends 'common title.html' %}

{% load static %}
{% block pwn %}
    {% include 'admin-menu.html' %}




    <head>
       <style>
           .menu{
               font-family: "Arial Black", serif;
               font-size: 15px;
               color: darkslateblue;
               width: 150px;
               background-color: #f1f1f1;

           }
       </style>
    </head>

    <table align="center" border="0">
        <tr>
            <th colspan="9" style="color: cornflowerblue;font-size: 20px;font-family: Arial ,serif;background-color: #4bfff7">
                <h1>Online Courses</h1>
            </th>
        </tr>
    <tr>
        <th class="menu" >Course ID</th>
        <th class="menu" >Course Name</th>
        <th class="menu" >Course Faculty</th>
        <th class="menu" >Course Date</th>
        <th class="menu" >Course Time</th>
        <th class="menu" >Course Fee</th>
        <th class="menu" >Course Duration</th>
        <th class="menu" >Update</th>
        <th class="menu" >Delete</th>
    </tr>

        {% for x in data %}
     <tr>
            <th >{{ x.cid }}</th>
            <th >{{ x.cname }}</th>
            <th >{{ x.cfaculty }}</th>
            <th >{{ x.cdate }}</th>
            <th >{{ x.ctime }}</th>
            <th >{{ x.cfee }}</th>
            <th >{{ x.cduration }}</th>
            <th >

                    <form action="{% url 'update_course' %}" method="post">
                        {% csrf_token %}
                        <label>
                            <input type="hidden" name="no" value="{{ x.cid }}">
                        </label>
                        <button type="submit">Update</button>
                        </form>
                </th>
            <th >
                <a href="{% url 'delete_record' %}?no={{ x.cid }}">
                    <img src="{% static 'images/61848.png' %}" width="50" height="50"></a> </th>
         {% endfor %}
    </tr>

{% endblock %}


